*{
    margin: 0;
    padding: 0;
    font-family: "Jersey 20", sans-serif;
    color: #222959
}

body{
    display: flex;
    align-items:center;
    justify-content: center;
    height: 100vh;
    background-color: #3b3b3b3f;
}

.wrapper .header, .wrapper-body{
    text-align: center;
    padding: 8px 15px;
    width: 100%;
}

.header img{
    height: 200px;
}

.wrapper-body p{
    margin-bottom: 20px;
}

.wrapper-body form{
    display: flex;
    flex-direction: column;
    text-align: left;
}

.input-group{
    display: flex;
    position: relative;
    justify-content: center;
}

.input-group input{
    width: 400px;
    padding: 16px 10px;
    font-size: 16px;
    border: 2px #ccc;
    border-radius: 6px;
    outline: none;   
    margin-top: 40px;
    border: 1px solid rgb(122, 122, 122);
}

.input-group label{
    position: absolute;
    pointer-events: none;
    top: 57px;
    left: 50px;
}

.input-group img{
    height: 20px;
    width: 20px;
    position: absolute;
    top: 55px;
    left: 22px;
}

.input-group:focus-within label,
.input-group:focus-within img,
.input-group input:not(:placeholder-shown) ~ label,
.input-group input:not(:placeholder-shown) ~ img {
    transform: translateY(-44px);
}

#forgot-password-btn{
    text-align: right;
    text-decoration: none;
    color: #AC1A1A;
    padding-right: 16px;
    padding-top: 10px;
    font-size: 12px;
}

.form-btn{
    display: block;
    width: 40%;
    margin-left: auto;
    margin-right: auto;
    height: 50px;
    border-radius: 20px;
    font-size: 25px;
    color: white;
    background: linear-gradient(to right, #E1AD01, #C35216);
    border: none;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.267);
}