<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Enrollment System - Dashboard</title>
    <link rel="stylesheet" href="../css/DashboardPage.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Jersey+20&display=swap" rel="stylesheet">
</head>
<body>
    <!-- sidebar -->
    <div class="sidebar">
        <img src="../src/images/web-logo.png" alt="logo">
        <ul>
            <li>Data Entry</li>
            <li>Transaction</li>
        </ul>
    </div>
    <!-- main -->
    <div class="main">
        <!-- main-header -->
        <div class="main-header"></div>
        <!-- main-body -->
        <div class="main-body"></div>
        <!-- main-footer -->
        <div class="main-footer"></div>
    </div>
    
</body>
</html>